html{
    font-family: 'Lato', sans-serif;
    font-size: 0.5em;
}

body{
    background-color: #0c0c0cd6;
    color: white;
}

.wrapper {
    margin: 0 auto;
    max-width: 60vw;
    margin-top: 4rem;
}

.underline{
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color:#e7e7a2;
    margin-bottom: 2rem;
    box-shadow: 0.4em 0.2em 0.4em #e7e7a2;
}

.bayan__container:hover > .mem__item >  input:checked + .text > .ico,
.bayan__container:hover > .mem__item > input:checked + .text{
    opacity: 1;
    color:white;
}

.bayan__container:hover > .mem__item > input + .text > .ico{
    opacity: 1;
    color:white;
}

.bayan__container:hover > .mem__item > input + .text > .ico > .ico__item{
    background-color: white;
}

.bayan__container:hover > .mem__item > input:checked + .text > .ico > .ico__item{
    background-color: white;
}

.bayan__container:active > .mem__item > input:checked + .text > .ico > .ico__item{
    background-color: #ffd700;
}

.bayan__container:hover > .mem__item > input + .text {
    color: white;
}

.bayan__container:active > .mem__item > input:checked + .text > span{
    color: #ffd700;
}

.mem__item{
    margin-bottom: 1rem;
}

.mem__item > input:checked + .text + .mem-block{
    padding: 0.5rem;
}

.mem__item:hover > .mem-block{
    height: 20rem;
    cursor: pointer;
}

.mem-block {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 0;    
    transition: all 0.5s;
    overflow: hidden; 
    font-size: 2rem;
}

.text {
    cursor: pointer;  
    font-size: 2rem;
    transition: all .7s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text > span{
    transition: all 0.3s;
}

img{
    width: 30rem;
    height: 20rem;
    box-shadow: .4em 0 .4em #e7e7a2;
    padding: 0.01em;
}

input{
    display: none;
}

input + .ico{
    opacity: 0;
    transition: all .7s;
}

input + .text {
    color: #ffd700;
}

input:checked + .text {
    color: white;
}

input:checked + .text + .mem-block {
    height: 14rem;
    color: #000;
    transition: all 1s;
}

.ico{
    display: block;
    width: 1rem;
    height: 1rem;
    padding-right: 1rem;
    opacity: 0;
    transition: all 0.4s;
}

.ico__item{
    width: 100%;
    height: 0.1rem;
    background-color: black;
    display: block;
    transition: all 0.4s;
}

.ico__item:nth-child(1){
    transform: translateY(1.1rem) rotate(90deg);
}

.ico__item:nth-child(2){
    transform: translateY(1rem) rotate(0deg);
}

.bayan__container > .mem__item > input:checked + .text > .ico > .ico__item:nth-child(1){
    transform: translateY(1.1rem) rotate(45deg);
}

.bayan__container > .mem__item > input:checked + .text > .ico > .ico__item:nth-child(2){
    transform: translateY(1rem) rotate(135deg);
}

@media only screen and (min-width: 320px) {
    html{
        font-size: 0.6em;
    }

    .wrapper{
        max-width: 85vw;
    }
    img{
        width: 20rem;
        height: 15rem;
    }
}

@media only screen and (min-width: 820px) {
    html{
        font-size: 1em;
    }

    .wrapper{
        max-width: 80vw;
    }
    img{
        width: 25rem;
        height: 20rem;
    }
}


@media only screen and (min-width: 1920px) {
    html{
        font-size: 1.3em;
    }

    .wrapper{
        max-width: 75vw;
        margin-top: 1.5em;
    }
    
    img{
        width: 20rem;
        height: 13rem;
    }

    .text{
        font-size: 1.5rem;
    }

    h1{
        margin:0;
    }

    .underline{
        margin-bottom: 1rem;
    }

    .mem__item{
        margin-bottom: 0.5rem;
    }
}